/postgis/data-app/
/postgis/data-spasial/

/api/python/app/__pycache__
/api/python/app/__pycache__/*.*.pyc
/api/python/app/__pycache__/__init__.cpython-37.pyc
/api/python/app/__pycache__/*.*
/api/python/app/main/util/__pycache__/*.*.pyc
/api/python/app/main/service/__pycache__/*.*.pyc
/api/python/app/main/model/__pycache__/*.*.pyc
/api/python/app/main/__pycache__/*.*.pyc
/api/python/app/main/controller/__pycache__/*.*.pyc

*.cfg
*.env
*.pyc
*.sql
**/__pycache__/
/upload/metadata/uploads/
/backup_db/sikambing_geodb_20220628.sql
/config/pycsw/pycsw.cfg
/web/geoportal-react/build/
/web/geoportal-react/node_modules/
/api/node/node_modules/
/api/node/app/resources/static/assets/produsen/
/api/node/app/config/db.config.js
/api/node/app/resources/static/assets/pemeriksaan/
/api/node/app/resources/static/assets/publikasi/